<!DOCTYPE html>
<html>
    <head>
        <title>Info Page</title>
    </head>
    <body>
        <h1>Welcome to the info page</h1>
        <p>This is the info page: fun fact: possums are not the same as opossums.</p>
    </body>
</html>